extends ./layout.pug

block body
  #about.popup
    .popup-header
      a.x.float-right(href='/')
        svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 26.3 26.3')
          defs
            style.
              .cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:3px;}
          title x
          g#Layer_2(data-name='Layer 2')
            g#Layer_1-2(data-name='Layer 1')
              line.cls-1(x1='1.06' y1='1.06' x2='25.24' y2='25.24')
              line.cls-1(x1='1.06' y1='25.24' x2='25.24' y2='1.06')
    .popup-about
      each slice in document.data.body
        case slice.slice_type
          when 'image'
            .grid.work-row
              .nine-elevenths.grid__item.push--large--one-eleventh.medium-down--one-whole.work-item
                .popup-image
                  img(src=slice.primary.image.url)
          when 'full-paragraph'
          when 'single-column'
            .grid.text-row
              .two-tenths.grid__item.medium-down--one-whole.push--large--one-twentieth
                h1 #{slice.primary.title[0].text}
              .six-tenths.grid__item.push--large--one-tenth.medium-down--one-whole
                | !{PrismicDOM.RichText.asHtml(slice.items[0].content)}
          when 'two-columns'
            .grid.text-row
              .two-tenths.grid__item.medium-down--one-whole.push--large--one-twentieth
                h1 #{slice.primary.title[0].text}
                p.description #{slice.primary.description[0].text}
              .three-elevenths.grid__item.push--large--one-tenth.medium-down--one-whole
                | !{PrismicDOM.RichText.asHtml(slice.primary['column-1'])}
              .three-elevenths.grid__item.push--large--one-twentieth.medium-down--one-whole
                | !{PrismicDOM.RichText.asHtml(slice.primary['column-2'])}
          when 'three-columns'
            .grid.text-row
              .two-tenths.grid__item.medium-down--one-whole.push--large--one-twentieth
                h1 #{slice.primary.title[0].text}
                p.description #{slice.primary.description[0].text}
              .two-elevenths.grid__item.push--large--one-tenth.medium-down--one-whole
                | !{PrismicDOM.RichText.asHtml(slice.primary['column-1'])}
              .two-elevenths.grid__item.push--large--one-twentieth.medium-down--one-whole
                | !{PrismicDOM.RichText.asHtml(slice.primary['column-2'])}
              .two-elevenths.grid__item.push--large--one-twentieth.medium-down--one-whole
                | !{PrismicDOM.RichText.asHtml(slice.primary['column-3'])}
